@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin phone {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 481px) and (max-width: 782px) {
    @content;
  }
}
@mixin laptop {
  @media only screen and (min-width: 783px) and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1025px) {
    @content;
  }
}
