@import "../variables.scss";
@import "../functions.scss";

.card-container {
  display: flex;
  height: 340px;
  width: 340px;
  margin: 2em;
  border-radius: 10px;
  color: #fff;
  -webkit-box-shadow: 3px 2px 14px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 2px 14px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;

  @include phone {
    width: 335px;
    height: 255px;
    margin: 1em;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .card-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    right: 100%;
    font-size: 1em;
    margin: 0 1em;
    @include phone {
      font-size: 0.85em;
    }

    h2 {
      width: 220px;
      text-shadow: black 0.5px 0 10px;
    }
  }
}
