@import "../variables.scss";
@import "../functions.scss";

.banner-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  @include phone {
    width: 375px;
    margin-bottom: 0;
  }

  img {
    border-radius: 10px;

    @include phone {
      width: 340px;
      height: 111px;
      object-fit: cover;
      margin: auto;
    }
  }
  span {
    color: #fff;
    text-shadow: black 0.5px 0 10px;
    font-size: 2em;
    position: absolute;
    right: 41%;
    margin: 100px 0;

    @include phone {
      font-size: 1.5em;
      width: 220px;
      left: 2em;
      margin: 26px 0 26px 0;
    }
  }
}
