@import "../variables.scss";
@import "../functions.scss";

.carousel-container {
  display: flex;
  align-items: center;

  @include laptop {
    justify-content: center;
    width: 100%;
  }
  @include tablet {
    justify-content: center;
    width: 100%;
  }
  @include phone {
    justify-content: center;
    width: 330px;
  }

  span {
    position: relative;
    font-size: 5em;
    color: #fff;
    padding: 16px;
    text-shadow: black 1px 0 10px;
    @include phone {
      font-size: 2em;
    }
  }
  .right-angle {
    right: 6%;
    cursor: pointer;
    @include laptop {
      right: 10%;
    }
    @include tablet {
      right: 10%;
    }
    @include phone {
      right: 10%;
    }
  }
  .left-angle {
    left: 6%;
    cursor: pointer;
    @include laptop {
      left: 10%;
    }
    @include tablet {
      left: 10%;
    }
    @include phone {
      left: 10%;
    }
  }

  img {
    width: 1245px;
    height: 415px;
    object-fit: cover;
    border-radius: 10px;

    @include laptop {
      width: 880px;
      height: 415px;
    }
    @include tablet {
      width: 650px;
      height: 412px;
    }
    @include phone {
      width: 335px;
      height: 255px;
    }
  }
}
