@import "../variables.scss";

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em auto;
  width: 1240px;

  .links-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 250px;
    h2 {
      color: $primary-color;
      text-decoration: none;
    }
  }
}
