@import "../variables.scss";
@import "../functions.scss";

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em auto;
  width: 1240px;

  @include laptop {
    width: 85%;
    margin: 1em auto;
  }
  @include tablet {
    width: 85%;
    margin: 1em auto;
  }

  @include phone {
    margin: 1em auto;
  }

  img {
    @include phone {
      height: 45px;
    }
  }

  @include phone {
    width: 345px;
  }

  .links-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 350px;

    @include phone {
      width: 150px;
    }
        li {
      color: $primary-color;
      text-decoration: none;
      list-style: none;
        font-weight: bold;
        font-size: 24px;

      @include laptop {
        font-size: 1.2em;
      }
      @include tablet {
        font-size: 1em;
      }
      @include phone {
        font-size: 0.85em;
      }
    }
  }
}
