@import "./styles/functions.scss";

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;

  @include phone {
    margin: 0;
  }
  @include tablet {
    margin: 0;
  }
  @include laptop {
    margin: 0;
  }
}
